.selectBox {
  display: grid;
  grid-template-rows: 15vh 15vh 15vh;
  grid-template-columns: 15vh 15vh 15vh;
}

.cell {
  border: 1px solid black;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 7vh;

  &>option {
    font-size: 4vh;
  }
}


.cellred {
  background-color: red;
}

.cellblue {
  background-color: skyblue;

}

#reset {
  margin-top: 2vh;
  font-size: 3vh;
  width: 45vh;
  height: 5vh;
}