  details.fia_details {
    & {
      border: 1px solid #aaaaaa;
      border-radius: 4px;
      padding: 0.5em 0.5em 0;
    }

    & summary {
      /* font-weight: bold; */
      margin: -0.5em -0.5em 0;
      padding: 0.5em;
    }

    &[open] {
      padding: 0.5em;
    }

    &[open] summary {
      border-bottom: 1px solid #aaaaaa;
      margin-bottom: 0.5em;
    }
  }

  table.fia_table {
    border-collapse: collapse;

    th,
    td {
      text-align: start;
      border: #000 1px solid;
    }
  }

  /* fade */
  & {
    @keyframes fadein {
      0% {
        display: none;
        opacity: 0;
      }

      1% {
        display: block;
        opacity: 0;
      }

      100% {
        display: block;
        opacity: 1;
      }
    }

    @keyframes fadeout {
      0% {
        display: block;
        opacity: 1;
      }

      99% {
        display: block;
        opacity: 0;
      }

      100% {
        display: none;
        opacity: 0;
      }
    }

    .fia_fade {
      &.none {
        animation: fadeout 0.5s linear 0s 1 normal forwards;
      }

      &:not(.none) {
        animation: fadein 0.5s linear 0s 1 normal forwards;
      }
    }

    .fia_fadein {
      animation: fadein 0.5s linear 0s 1 normal forwards;
    }

    .fia_fadeout {
      animation: fadeout 0.5s linear 0s 1 normal forwards;
    }
  }

  /* dlリスト */
  dl.fia_dl {
    padding: 10px;
    background-color: hsl(0, 0%, 99%);
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 6px;

    /* タイトル（使い方、困った時は） */
    dt {
      font-weight: bold;
      font-size: 1.2rem;
      color: hsl(0, 0%, 20%);
      margin-top: 10px;
      margin-bottom: 5px;
      border-bottom: 2px solid hsl(190, 100%, 50%);
      /* 下に青い線を引く */
      padding-bottom: 4px;
    }

    /* 最初のdtだけ上の余白を消す */
    dt:first-of-type {
      margin-top: 0;
    }

    /* 説明文（使い方A、Bなど） */
    dd {
      margin-left: 0;
      color: hsl(0, 0%, 33%);
      line-height: 1.6;
      padding-left: 8px;
      /* 少し右に寄せて見出しと区別 */
    }
  }