.leaflet-control-container {
  display: none;
}

#id_all {
  height: calc(min(100vw - 300px, 100vh - 100px));

  &.hidden_pot .icon.pot {
    display: none;
  }

  &.hidden_treasure .icon.treasure {
    display: none;
  }

  &.hidden_search .icon.search {
    display: none;
  }

  &.hidden_carrot .icon.carrot {
    display: none;
  }
  &.hidden_mob .icon.mob:not(.限定) {
    display: none;
  }

  &.hidden_mob_限定 .icon.mob.限定 {
    display: none;
  }

  &.hidden_border canvas[data-border],
  &.hidden_border canvas[data-fill] {
    display: none;
  }

  #map {
    position: absolute;
    width: min(100vw - 300px, 100vh - 100px);
    height: min(100vw - 300px, 100vh - 100px);

    canvas[data-border],
    canvas[data-fill] {
      pointer-events: none;
    }

  }

  #id_select_mother {
    position: relative;
    z-index: 1001;

    pointer-events: none;

    *:not(div) {
      pointer-events: auto;
    }

    div {
      text-align: end;
    }

    #id_select_map {
      padding-top: 1vw;

      select,
      label {
        font-size: 1rem;
      }
    }

    #id_select_other {
      padding-top: 1vw;

      button {
        font-size: 1rem;
        line-height: 2;
      }

      label {
        font-size: 1.5rem;
      }

      input {
        width: 1.5rem;
        height: 1.5rem;
      }

    }

    #id_select_list_aetheryte {
      padding-top: 1vw;

      select,
      label {
        font-size: 1.5rem;
        font-family: sans-serif;
      }
    }

  }

}