#id_all {
  height: calc(min(100vw - 300px, 100vh - 100px));



  #id_canvas_all {
    position: relative;

    canvas,
    img {
      position: absolute;
      width: calc(min(100vw - 300px, 100vh - 100px));
    }

    .break {
      display: none;
    }
  }

  #id_img_map_list {
    z-index: 1;
  }

  #id_canvas_list_fill canvas {
    z-index: 2;
    opacity: 0.4;
  }

  #id_canvas_list_border canvas {
    z-index: 3;
    opacity: 0.4;
  }

  #id_canvas_list_treasure canvas {
    z-index: 4;
  }

  #id_canvas_list_pot canvas {
    z-index: 5;
  }

  #id_canvas_list_circle canvas {
    z-index: 7;
  }

  #id_select_mother {
    position: relative;
    z-index: 6;

    div {
      text-align: end;
    }

    #id_select_map {
      padding-top: 1vw;

      select,
      label {
        font-size: 1rem;
      }
    }

    #id_select_other {
      padding-top: 1vw;

      select,
      label {
        font-size: 1.5rem;
      }

      input {
        width: 1.5rem;
        height: 1.5rem;
      }

      button {
        font-size: 1rem;
        line-height: 2;
      }
    }

    #id_select_list_aetheryte {
      padding-top: 1vw;

      select,
      label {
        font-size: 1.5rem;
        font-family: sans-serif;
      }
    }

  }

}